<!DOCTYPE html>
<html lang="en">

<head>

    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->

    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>

    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

</head>

<body>


    <!-- Menu -->
    {{> menu }}
    <!-- Menu -->


    <header class="grid grid-cols-2 grid-gap-4 mx-auto px-20 w-10/12">
        <div class="bg-white pt-40">

            <p class="text-4xl font-light ">À propos de nous</p>

            <p class="text-4xl font-bold pb-4">Main dans la main pour nos clients</p>

            <p class="leading-8 text-gray-500 mt-8"> Dans notre entreprise, nous comprenons que le support client exceptionnel est la colonne vertébrale d'une entreprise réussie. C'est pourquoi nous nous engageons à fournir le meilleur service possible à tous nos clients, quelles que soient leurs besoins. Notre objectif est de rendre votre expérience avec nos produits SaaS aussi fluide et agréable que possible.</p>

            <br />
        </div>

        <img class="max-w-full pl-10 " src="/img/customers.png" alt="">
    </header>


    <div class="grid grid-cols-1 mx-auto px-20 mb-20 w-10/12 ">

        <article class="text-justify">

            <p class="text-gray-500 mb-4">
                C'est pourquoi nous nous engageons à fournir le meilleur service possible à tous nos clients, quelles que soient leurs besoins. Notre objectif est de rendre votre expérience avec nos produits SaaS aussi fluide et agréable que possible.

                Notre équipe de support dédiée est composée d'experts passionnés par vous aider à atteindre vos objectifs. Ils sont disponibles 24 heures sur 24 pour vous aider avec toutes les questions ou préoccupations que vous pourriez avoir. Que vous débutiez avec nos produits ou que vous les utilisiez depuis un certain temps, nous sommes là pour vous soutenir à chaque étape.

                Nous croyons qu'un excellent support client commence par une communication claire et efficace. </p>

            <p class="text-gray-500 mb-4"> C'est pourquoi nous utilisons plusieurs canaux, y compris le téléphone, l'e-mail, le chat en direct et une base de connaissances complète, pour faciliter votre contact avec nous et obtenir l'aide dont vous avez besoin. Nous comprenons que le temps est précieux, c'est pourquoi nous nous efforçons de répondre à toutes les demandes de renseignements des clients le plus rapidement possible.

                Nous savons également que la technologie peut être complexe et que parfois les choses peuvent mal tourner. </p>

            <p class="text-gray-500 mb-4">

                C'est pourquoi notre équipe de support est équipée des derniers outils et connaissances pour résoudre tout problème technique que vous pourriez rencontrer. Nous comprenons que les temps d'arrêt peuvent être coûteux, c'est pourquoi nous travaillons dur pour résoudre rapidement tous les problèmes afin de minimiser les perturbations dans votre entreprise.

                Dans notre entreprise, la satisfaction du client est notre priorité absolue. Nous croyons qu'en fournissant le meilleur support client possible, nous pouvons vous aider à atteindre vos objectifs et tirer le meilleur parti de nos produits SaaS. Donc, si vous cherchez un partenaire fiable et solidaire pour vous aider à réussir, ne cherchez pas plus loin. Nous sommes là pour vous aider à chaque étape du chemin.
            </p>

        </article>

    </div> <!-- grid -->



</body>



<!-- footer -->
{{> footer }}
<!-- footer -->

</html>