    <!DOCTYPE html>
    <html lang="en">

    <head>

        <!-- 
        This is the main Handlebars template for the site 
        - When the user visits the homepage or submits a color the app calls the endpoints in server.js
        - The server script passes data in here and the Handlebars code builds it into the HTML page
        -->

        <meta charset="utf-8" />
        <link rel="icon" href="https://glitch.com/favicon.ico" />
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        <title>{{seo.title}}</title>

        <!-- Meta tags for SEO and social sharing -->
        <link rel="canonical" href="{{seo.url}}">
        <meta name="description" content="{{seo.description}}">
        <meta property="og:title" content="{{seo.title}}">
        <meta property="og:type" content="article">
        <meta property="og:url" content="{{seo.url}}">
        <meta property="og:description" content="{{seo.description}}">
        <meta property="og:image" content="{{seo.image}}">
        <meta name="twitter:card" content="summary">
        <link rel="stylesheet" href="style.css">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>

    </head>

    <body>


        <!-- Menu -->
        {{> menu }}
        <!-- Menu -->


        <header class="grid grid-cols-2 grid-gap-4 mx-auto px-20 w-10/12">
            <div class="bg-white pt-40">

                <p class="text-4xl font-light ">Service client</p>

                <p class="text-4xl font-bold pb-4">Avez-vous besoin d'aide ?</p>

                <p class="leading-8 text-gray-500 mt-8"> Si vous ne le saviez pas, ce formulaire créera un ticket qui sera ensuite analysé et catégorisé en fonction du contenu de la demande.
                    En effet, si la demande contient des mots comme "facturation", ce ticket aura la catégorie "problème de facturation".
                    C'est assez génial et cela montre à quel point le hub de service peut être puissant.
                </p>

                <br />
            </div>

            <img class="max-w-full pl-20" src="/img/support.png" alt="">
        </header>


        <div class="container mx-auto w-10/12">


            <section class="px-9 flex flex-row">

                <section class="basis-1/4 pr-4">
                    <button id="generalQuestion" class="text-xs form-button mt-10 bg-pink text-white h-12 max-w-full inline-block text-center rounded-md px-20 py-3 filter drop-shadow-xl">Question sur une commande</button>
                </section>

                <section class="basis-1/4 pr-4">
                    <button id="productIssue" class="text-xs form-button mt-10 bg-pink text-white h-12 max-w-full inline-block text-center rounded-md px-20 py-3 filter drop-shadow-xl">Problème de produit</button>
                </section>

                <section class="basis-1/4 pr-4">
                    <button id="billingIssue" class="text-xs form-button mt-10 bg-pink text-white h-12 max-w-full inline-block text-center rounded-md px-20 py-3 filter drop-shadow-xl">Problème de facturation</button>
                </section>

                <section class="basis-1/4 pr-4">
                    <button id="contractIssue" class=" text-xs form-button mt-10 bg-pink text-white h-12 max-w-full inline-block text-center rounded-md px-20 py-3 filter drop-shadow-xl">Problème de contrat</button>
                </section>


            </section>

            <hr/ class="m-10">

            <div class="min-h-screen pt-8">

                <section class="w-1/3 m-auto hidden" id="generalQuestionForm">

                    <p class="text-2xl font-bold pb-1">Question sur une commande :</p>

                    <p class="text-sm text-gray-500"> Si vous ne le saviez pas, ce formulaire créera un ticket qui sera ensuite analysé et catégorisé en fonction du contenu de la demande.
                        En effet, si la demande contient des mots comme "facturation", ce ticket aura la catégorie "problème de facturation".
                        C'est assez génial et cela montre à quel point le hub de service peut être puissant.
                    </p>

                    <hr/ class="m-10">

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                       hbspt.forms.create({
                            region: "na1",
                            portalId: "21169044",
                            formId: "9c0192f6-75d6-441b-9580-1fe937ff7a1f"
                        });
                    </script>


                </section>


                <section class="w-1/3 m-auto hidden" id="productIssueForm">
                    <p class="text-2xl font-bold pb-1">Problème de produit :</p>

                    <p class="text-sm text-gray-500"> Si vous ne le saviez pas, ce formulaire créera un ticket qui sera ensuite analysé et catégorisé en fonction du contenu de la demande.
                        En effet, si la demande contient des mots comme "facturation", ce ticket aura la catégorie "problème de facturation".
                        C'est assez génial et cela montre à quel point le hub de service peut être puissant.
                    </p>

                    <hr/ class="m-10">

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>

                    <script>
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "21250603",
                            formId: "eda04a6a-7cba-43a7-a028-d18cc04878f0"
                        });
                    </script>
                </section>


                <section class="w-1/3 m-auto hidden" id="billingIssueForm">
                    <p class="text-2xl font-bold pb-1">Problème de facturation :</p>

                    <p class="text-sm text-gray-500"> Si vous ne le saviez pas, ce formulaire créera un ticket qui sera ensuite analysé et catégorisé en fonction du contenu de la demande.
                        En effet, si la demande contient des mots comme "facturation", ce ticket aura la catégorie "problème de facturation".
                        C'est assez génial et cela montre à quel point le hub de service peut être puissant.
                    </p>

                    <hr/ class="m-10">

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "21250603",
                            formId: "27a7ba3d-4ac9-419f-9ebe-dca9f69157a2"
                        });
                    </script>

                </section>

                <section class="w-1/3 m-auto hidden" id="contractIssueForm">
                    <p class="text-2xl font-bold pb-1">Problème de contrat :</p>

                    <p class="text-sm text-gray-500"> Si vous ne le saviez pas, ce formulaire créera un ticket qui sera ensuite analysé et catégorisé en fonction du contenu de la demande.
                        En effet, si la demande contient des mots comme "facturation", ce ticket aura la catégorie "problème de facturation".
                        C'est assez génial et cela montre à quel point le hub de service peut être puissant.
                    </p>

                    <hr/ class="m-10">

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "21250603",
                            formId: "49f54ece-0c64-4cb6-928e-7a0e6e0714d9"
                        });
                    </script>

                </section>

            </div>


        </div>


    </body>



    <!-- footer -->
    {{> footer }}
    <!-- footer -->

    </html>