<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://cdn.tailwindcss.com"></script>

  <title>{{seo.title}}</title>

  <!-- Meta tags for SEO and social sharing -->
  <link rel="canonical" href="{{seo.url}}">
  <meta name="description" content="{{seo.description}}">
  <meta property="og:title" content="{{seo.title}}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{seo.url}}">
  <meta property="og:description" content="{{seo.description}}">
  <meta property="og:image" content="{{seo.image}}">
  <meta name="twitter:card" content="summary">

  <!-- Import the webpage's stylesheet -->



</head>

<body>

  <div class="container mx-auto">

    <div class="bg-white h-5/5 px-2 lg:px-9 py-9">



      <p class="text-4xl font-light ">Edit {{user.name}} 's account </p>

      <p class="text-4xl font-bold pb-4">And sync the changes to HubSpot</p>



      <p class="text-gray-500"> Lorem ipsum dolor sit met, qui at desert mandamus, adduce ullum apeirian mea at. Eu mel vide saltando vituperata, sonet quidam deterruisset te qui. Te cum vivendum explicate abhorrent. Id venom argumentum vel. Ut lorem bocent hendrerit eam. </p>


      <div class="w-full max-w-xs mt-6">


        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">


          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
             Email
            </label>
            <input
              class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="email" type="email" placeholder="Email" value="{{user.email}}" disabled>
          </div>




          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="lastname">
              Lastname
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="lastname" type="text" placeholder="Lastname" value="{{user.lastname}}" disabled>
          </div>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
              First name
            </label>
            <input
              class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="name" type="text" placeholder="Your name" value="{{user.name}}" disabled>
          </div>
          



          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="tokens">
           Tokens Availables
            </label>
            <input
              class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="tokensavailable" type="number" placeholder="Tokens" value="{{user.tokensAvailable}}">
          </div>



    

          <div class="flex items-center justify-between">
            <button
              id="editBtn"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button">
              Update
            </button>
          </div>
        </form>
   
      </div>






    </div>

  </div>









  <div class="wrapper">
    <div class="content" role="main">




      <script>
        document.querySelector('#editBtn').addEventListener('click', async e => {

          e.preventDefault();

          console.log(document.querySelector('#tokensavailable').value);

          const newTokenValue = document.querySelector('#tokensavailable').value;


          const email = document.querySelector('#email').value;


          const res = await fetch('/api/user', {
            method: 'PATCH',
            body: JSON.stringify({
              email,
              tokensAvailable: parseInt(newTokenValue),
              fromHs: false
            }),
            headers: {
              'Content-type': 'application/json; charset=UTF-8',
            },
          }).catch(console.log);






        })
      </script>




      {{!-- {{#if data}}
              {{#each data}}
                
                {{data}}
                <article class="deal">
                  
                    <p>Type of request : {{this.objectType}}</p>
                  
                    <p>Name of the deal:  {{this.properties.dealname.value}}</p>
                  
                    <p>Amount:  {{this.properties.amount.value}} € 🤑 </p>

                    <p>Deal Stage :  {{this.properties.dealstage.value}} 💪 </p>  

                    <p>Days needed to close :  {{this.properties.days_to_close.value}} days 🕦 </p>  

                </article>

              {{/each}}
          {{/if}} --}}


    </div>


  </div>
  </div>

</body>

</html>