<!DOCTYPE html>
<html lang="en">

<head>

    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->

    <meta charset="utf-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>

    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- Menu -->
    {{> menu }}
    <!-- Menu -->


    <section class="relative min-h-screen">


        <div class="container mx-auto grid pl-4 pr-4 grid-cols-1 md:grid-cols-2">

            <div class="h-2/4 mt-40">

                <h1 class="text-6xl font-bold text-blue">Partner <span class="font-normal">app</span></h1>
                <p class="text-3xl font-light text-blue mt-4 mb-4">Le SASS des entreprises inovantes</p>
                <p class="leading-8 text-gray-500">Transformez la manière dont vous faites des affaires avec notre solution SaaS innovante. Découvrez une efficacité et une facilité d'utilisation inégalées.</p>

                <a href="/users" class="mt-10 bg-pink text-white max-w-ful inline-block text-center rounded-md px-20 py-3 filter drop-shadow-xl">Découvrir</a>

            </div>


            <img class="max-w-full hidden mt-40 animate-my-bounce md:block" src="/img/Astronaut.png" alt="">

        </div>

        <img src="/img/wave.png" class="w-full absolute bottom-0 -inset-x-0 z--1" alt="">
    </section>


<section class="bg-grey lg:px-20 lg:py-20" id="documenting">

    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2">

        <div>
            <img class="max-w-full" src="/img/dog.png" alt="">
        </div>

        <div class="h-4/5">

            <div class="bg-white h-5/5 px-9 py-9 filter drop-shadow-xl lg:mt-20">

                <p class="text-2xl font-light">Seulement le meilleur</p>

                <p class="text-2xl font-bold pb-4">Des fonctionnalités que vous ne croirez pas qu'elles existent </p>

                <p class="leading-8 text-gray-500"> Notre produit SaaS est conçu pour propulser votre entreprise vers le niveau suivant. Nos fonctionnalités de pointe nous distinguent de la concurrence et offrent une solution vraiment complète pouvant être personnalisée pour répondre aux besoins uniques de votre entreprise. Avec des mesures de sécurité robustes, un suivi des données en temps réel et des performances, ainsi qu'un support 24/7, vous pouvez avoir confiance que votre entreprise est entre de bonnes mains avec nous. Alors, pourquoi attendre ? Adoptez l'avenir de la technologie et découvrez la puissance de notre solution SaaS dès aujourd'hui.</p>
            </div>

        </div>

    </div>

</section>


<section class="mt-20 lg:px-20 lg:py-20">

    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-3 lg:gap-20">

        <a href="/products">
            <div class="bg-white border filter drop-shadow-xl py-5 px-20">
                <img src="/img/Chemical.png" class="mx-auto" alt="" width="140px">
                <p class="text-xl font-bold pb-4 text-center">HubDB</p>

                <p class="leading-8 text-gray-500 text-center"> Lorem ipsum dolor sit amet, qui ad deserunt mandamus, adducere ullam apeirian mea ad. Eu mel vide saltando vituperata, sonet quidam deterruisset te qui. Lorem ipsum dolor sit amet, qui ad deserunt mandamus, adducere ullam apeirian mea ad. Eu mel vide saltando vituperataet.</p>
            </div>
        </a>

        <a href="/serverless">
            <div class="bg-white border filter drop-shadow-xl py-5 px-20">

                <img src="/img/Chemical.png" class="mx-auto" alt="" width="140px">
                <p class="text-xl font-bold pb-4 text-center">Serverless</p>

                <p class="leading-8 text-gray-500 text-center"> Lorem ipsum dolor sit amet, qui ad deserunt mandamus, adducere ullam apeirian mea ad. Eu mel vide saltando vituperata, sonet quidam deterruisset te qui. Lorem ipsum dolor sit amet, qui ad deserunt mandamus, adducere ullam apeirian mea ad. Eu mel vide saltando vituperataet.</p>

            </div>
        </a>

        <div class="bg-white border filter drop-shadow-xl py-5 px-20">

            <img src="/img/Chemical.png" class="mx-auto" alt="" width="140px">
            <p class="text-xl font-bold pb-4 text-center">Expérimentation</p>

            <p class="leading-8 text-gray-500 text-center"> Lorem ipsum dolor sit amet, qui ad deserunt mandamus, adducere ullam apeirian mea ad. Eu mel vide saltando vituperata, sonet quidam deterruisset te qui. Lorem ipsum dolor sit amet, qui ad deserunt mandamus, adducere ullam apeirian mea ad. Eu mel vide saltando vituperataet.</p>

        </div>
    </div>

</section>

<!-- espaceur -->
<section class="mt-20 lg:px-20 lg:py-20"></section>
<!-- espaceur -->


</body>
    <!-- footer -->
    {{> footer }}
    <!-- footer -->
</html>