<!DOCTYPE html>
<html lang="en">

<head>

    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->

    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>

    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

</head>

<body>


    <!-- Menu -->
    {{> menu }}
    <!-- Menu -->


    <div class="wrapper">
        <div class="content" role="main">

            <!-- This is the start of content for our page -->

            <div class="container mx-auto">

            

                <section class="px-9 py-9">


                    
                        <div class="flex flex-col items-center justify-center   mx-auto ">
                        
                            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 ">
                                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

                                    <a href="/" class="text-xl font-bold text-blue block mx-auto text-center">Partner<span class="font-normal">App</span></a>

                                    <h1 class="text-sm font-bold leading-tight tracking-tight text-gray-600 md:text-xl ">
                                        Sign in to your account
                                    </h1>
                                    <form id="login" class="space-y-4 md:space-y-6" >
                                        <div>
                                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Your email</label>
                                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="name@company.com" >
                                        </div>
                                        <div>
                                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" >
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <div class="flex items-start">
                                                <div class="flex items-center h-5">
                                                    <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700">
                                                </div>
                                                <div class="ml-3 text-sm">
                                                    <label for="remember" class="text-gray-500">Remember me</label>
                                                </div>
                                            </div>
                                            <a href="#" class="text-sm font-medium text-primary-600 hover:underline ">Forgot password?</a>
                                        </div>
                                        <button type="submit" class=" w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign in</button>
                                        <p class="text-sm font-light text-gray-500 ">
                                            Don’t have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline">Sign up</a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    


                </section>


            </div>


        </div>
    </div>

</body>


<!-- footer -->
{{> footer }}
<!-- footer -->

</html>